<div class="funding-netidee">
  <hr>
  <h2>Funding &amp; licence</h2>
  <p>This work was supported by the <strong>netidee</strong> programme of the Internet Foundation Austria. <em>Antrag Nr.&nbsp;7918, project <strong>SovereignSOC</strong>, Fördernehmer: SBA&nbsp;Research, Key Researcher: Dr.&nbsp;Constanze&nbsp;Roedig.</em></p>

  <a href="https://www.netidee.at/projekte/sovereignsoc">
    <img src="/brand/netidee-logo.svg"
         alt="netidee — funded by the Internet Foundation Austria"
         class="netidee-logo">
  </a>

  <p class="copyright">© 2026 Dr.&nbsp;Constanze&nbsp;Roedig. <strong>All rights reserved.</strong> No part of this post may be reproduced, redistributed or used to train derivative models without prior written permission. Code referenced from any linked repositories is licensed separately under <strong>Apache 2.0 and/or GPL v2</strong> (see each repo for its declared licence).</p>
</div>
